
<p class="justifie">
Vous avez une appétence pour l'écriture et aimez rédiger à votre rythme. L'atelier 3.0 suscite et sollicite votre créativité, en particulier au moyen de consignes. Il repose sur la bienveillance et le partage.
</p>
<p>Pour cela, il vous suffit d'utiliser votre ordinateur ou autre tablette.</p>

<p class="justifie">Chaque quinzaine, je vous envoie une proposition. Vous me communiquez votre écrit en temps voulu et je procède ensuite à une mise en commun...
L'atelier se déroule de septembre à juin et une rencontre est organisée au début de l'été !</p>

<p class="justifie">Intéressé.e.s ? Je vous invite à me poser toute question vous semblant utile.
Les inscriptions prendront fin le 09 septembre 2018. Le montant de la participation s'élève à cent euros avec la possibilité d'un règlement en deux fois.</p>
      <hr/>
      <a [routerLink]="['/ngr/florilege']">Florilège des ateliers d'écriture</a>
      <hr/>
        <div class="row">
          <div class="col-sm-6  mb-3" >
                <img  class="imageWidth100pct" src="./images/atelierEcriture.jpeg" />
           </div>
           <div class="col-sm-6  mb-3" >
                 <img  class="imageWidth100pct" src="./images/affiche_atelier_3_0.jpeg" />
           </div>
        </div>
        