<div class="row">
    <div class="offset-1 col-10" >
    
      <!-- div intermediaire avec inline-block pour bien gérer text-align="center" mais pertube le width="100%"-->
          <bsu-carousel [carouselDefs]="carouselDefs"></bsu-carousel>
    
    </div><!--end of col -->
    </div><!--end of row -->
    
    <br/>
    
    <div class="au-centre">
        <!--
      <div class="row">
      <div class="offset-2 col-xs-8">
         <div class="acro">
        <p>Écrire en lettres d’or</p>
        <p>Calligraphier les mots</p>
        <p>Rédiger des mémoires</p>
        <p>Inscrire une maxime sur les murs</p>
        <p>Verlaniser c’est chanmé</p>
        <p>Accoucher d’un texte</p>
        <p>Immerger les lapsus calimi</p>
        <p>Noter pour ne pas oublier</p>
        <br/>
        <br/>
        <p>Publier sur papier bulle</p>
        <p>Unir les lettres</p>
        <p>Barbouiller n’est pas jouer</p>
        <p>Lier les sonorités</p>
        <p>Immigrer en terre Oulipo</p>
        <p>Créer des jeux de mots (laids?)</p>
      </div>
      </div>
      </div>
      -->
       <img src="./images/accrostiche.png" class="responsiveWidthButNotToLarge" />   
    </div>
    <div align="right">
        <p><img src="./images/auteurAlexandraZanelli.png"/></p>
      <p><i>&#xC9;crivain Public - Diplômée de la Sorbonne nouvelle</i></p>
    </div>
    <div class="au-centre">
       <img  src="./images/partitionAvecTexte.png" width="95%" />
    </div>