<div class="row">
    <div class="col-sm-5">
      <img src="./images/alexandra.jpg" width="100%"/>
    </div>
    <div class="col-sm-7">
        <p class="titre1">Qui suis-je ?</p>
      <p>L’individu n’est pas un « être » mais un « devenir ».</p>
      <p>Rien n’est écrit d’avance. Rien n’est figé.</p>
      <p class="justifie">Née en Bourgogne, ayant grandi en région Centre, mon appétence pour les livres se manifesta dès l’école élémentaire. Celle pour l’écriture vint à l’adolescence. Des correspondances, par voie épistolaire, avec Maddie, américaine résidant au Texas, et Jackie, habitant de Hong-Kong, ainsi que Petra, la fille d’amis hollandais de la famille.
      Après quelques années à l’université d’Orléans, filière administration et gestion des entreprises, les premiers emplois dans le secteur tertiaire, une opportunité se présenta : celle d’aller travailler deux ans à Dublin, en Irlande. Une migration voulue, choisie. Une belle expérience.
      S’ensuivirent une année nantaise et l’installation en Normandie. À Vernon. Au bout de quelques années dans une PME, un déclic, une envie d’ailleurs. Reconversion. Début 2016, j’entamai une recherche Internet avec, pour aboutissement, le site de Paris III et la licence pro conseil en écriture privée et professionnelle - écrivain public. Bingo !
      <p class="justifie">Une année riche en rencontres, en apprentissages et le plaisir immense de l’écriture créative.</p>
      <p class="justifie">Diplômée depuis le mois de juin 2017, j’exerce mon activité avec envie, rigueur, adaptabilité, sens de l’écoute, le goût des autres... et une grande maîtrise du flow des mots.</p>
    </div>
    </div>
