
  <table border="1">
      <tr>
         <th colspan="4" class="au-centre" >Tarifs (à titre indicatif)</th>
      </tr>
      <tr>
         <th  class="au-centre" >Prestation</th> <th class="au-centre">Description</th><th class="au-centre">Taux horaire</th><th class="au-centre">Coût global</th>
      </tr>
     
      <tr class="impair">
        <td class="appuye">Permanences sociales</td>
      <td>2 heures minimum <br/>Lettres administratives<br/>Démarches en ligne</td>
      <td class="au-centre" >35€</td><td class="au-centre" >70€</td>
       </tr>
     <tr class="pair">
        <td class="appuye">Ateliers d’écriture</td> 
      <td>Atelier d'écriture à distance 3.0<br/>Montant annuel pour chaque participant</td>
      <td></td><td class="au-centre" >100€</td>
      </tr>
      <tr class="impair">
        <td class="appuye">Rédaction de notes, comptes-rendus</td>
      <td>sur devis</td>
      <td class="au-centre" ></td><td class="au-centre" ></td>
       </tr>
     <tr class="pair">
        <td class="appuye">Discours professionnel, officiel</td> 
      <td></td>
      <td class="au-centre" >60€</td><td></td>
      </tr>
       <tr class="impair">
        <td class="appuye">Ateliers « mieux écrire » en entreprise</td> 
      <td>Règles grammaticales de base, orthographe, rédaction des courriers destinés aux clients, personnalisation <br/>demi-journée (4 heures)</td>
      <td></td><td class="au-centre" >400€</td>
      </tr>
       <tr class="pair">
        <td class="appuye">Écrit administratif</td> 
      <td>Courrier simple<br/>(entretien et rédaction)</td>
      <td class="au-centre" >25€</td><td class="au-centre" >25€</td>
      </tr>
     <tr class="impair">
        <td class="appuye">Récits de <br/>vie/voyage/biographie</td> 
      <td>1 heure d’entretien équivaut à 5 heures de travail<br/>NB : le tarif n’inclut pas les frais d’impression<br/>Forfait 60 heures</td>
      <td></td><td class="au-centre" >2500€</td>
      </tr>
      <tr class="pair">
        <td class="appuye">Correspondance privée, lettres d’amour</td> 
      <td>Entretien et rédaction</td>
      <td class="au-centre" >30€</td><td></td>
      </tr>
      <tr class="impair">
        <td class="appuye">Éloge, acrostiche, ode, discours de mariage</td> 
      <td>Évènements relevant de la sphère privée</td>
      <td class="au-centre" >50€</td><td></td>
      </tr>
      <tr class="pair">
       <td colspan="4">
     <i><b>Toute demande peut être étudiée, à l’exception des lettres de menace, d’insultes, de délation et tout autre écrit pouvant porter atteinte à autrui, dans le respect de la charte de déontologie de l’activité d’écrivain public, conseil en écriture privée et professionnelle.</b></i>
     </td>
      </tr>
     </table>
     <br/>
