.my-tab-content{
    padding: 0.8em;
}

.like-card{
    background: white;
    border-width: 1px;
    border-style : solid;
}

.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
    }
   
input.ng-invalid , textarea.ng-invalid {
    border-left: 5px solid #a94442; /* red */
    }